<ion-content [fullscreen]="true">
  <div class="page-container">
    <div class="title-container">
      <h1 class="app-title">ESTADÍSTICAS</h1>
    </div>

    <div class="cards-container">
      <h1 class="second-title">Trabajo</h1>
    </div>
    <div class="logo-container">
      <img src="assets/estadisticas.png" alt="Wake App" />
    </div>
    <h3 class="description">Hora promedio: 7:15 am</h3>
    <h3 class="description">Duración promedio: 1:00</h3>

    <div class="cards-container">
      <h1 class="second-title">Gimnasio</h1>
    </div>
    <div class="logo-container">
      <img src="assets/estadisticas.png" alt="Wake App" />
    </div>
    <h3 class="description">Hora promedio: 7:15 am</h3>
    <h3 class="description">Duración promedio: 1:00</h3>

    <div class="cards-container">
      <h1 class="second-title">Compras</h1>
    </div>
    <div class="logo-container">
      <img src="assets/estadisticas.png" alt="Wake App" />
    </div>
    <h3 class="description">Hora promedio: 7:15 am</h3>
    <h3 class="description">Duración promedio: 1:00</h3>

    <div class="buttons-container">
      <ion-button expand="block" class="app-button" (click)="goToMainView()">
        Volver
      </ion-button>
    </div>
  </div>
</ion-content>
